.idea
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdC/tmp/
cmake-build-debug/CMakeFiles/CMakeTmp/
CMakeLists.txt
cmake-build-debug
.vs
.gitattributes
Projectpractice/Debug/
Projectpractice/Projectpractice.sln
Projectpractice/Projectpractice/
Projectpractice/x64/
